In [23]:
import glob
import pandas as pd

In [9]:
data_path='./time_series_data/Prevalence'

In [16]:
file_path=glob.glob(data_path+'/*.csv')

In [20]:
file_path

['./time_series_data/Prevalence/PREVALENCE_1819.csv',
 './time_series_data/Prevalence/PREVALENCE_1415.csv',
 './time_series_data/Prevalence/PREVALENCE_1617.csv',
 './time_series_data/Prevalence/PREVALENCE_1314.csv',
 './time_series_data/Prevalence/PREVALENCE_1516.csv',
 './time_series_data/Prevalence/PREVALENCE_1718.csv']

In [18]:
part_one=['./time_series_data/Prevalence/PREVALENCE_1819.csv','./time_series_data/Prevalence/PREVALENCE_1718.csv',
         './time_series_data/Prevalence/PREVALENCE_1617.csv','./time_series_data/Prevalence/PREVALENCE_1516.csv']

In [92]:
part_two=['./time_series_data/Prevalence/PREVALENCE_1415.csv']

In [22]:
part_three=['./time_series_data/Prevalence/PREVALENCE_1314.csv']

In [28]:
part_one_indicator=pd.read_csv(data_path+'/part1_dict.csv',encoding = "ISO-8859-1")

In [34]:
part_one_dict=dict(zip(part_one_indicator['INDICATOR_GROUP_DESCRIPTION'].tolist(), part_one_indicator['INDICATOR_GROUP_CODE'].tolist()))

In [35]:
part_one_dict

{'Atrial fibrillation': 'AF',
 'Asthma': 'AST',
 'Blood pressure': 'BP',
 'Cancer': 'CAN',
 'Secondary prevention of coronary heart disease': 'CHD',
 'Chronic kidney disease': 'CKD',
 'Contraception': 'CON',
 'Chronic obstructive pulmonary disease': 'COPD',
 'Cervical screening': 'CS',
 'Cardiovascular disease \x96 primary prevention': 'CVDPP',
 'Dementia': 'DEM',
 'Depression': 'DEP',
 'Diabetes mellitus': 'DM',
 'Epilepsy': 'EP',
 'Heart failure': 'HF',
 'Hypertension': 'HYP',
 'Learning Disability': 'LD',
 'Mental health': 'MH',
 'Obesity': 'OB',
 'Osteoporosis: secondary prevention of fragility': 'OST',
 'Peripheral arterial disease': 'PAD',
 'Palliative care': 'PC',
 'Rheumatoid arthritis': 'RA',
 'Smoking': 'SMOK',
 'Stroke and transient ischaemic attack': 'STIA'}

In [100]:
main_column_names = pd.read_csv(data_path+'/ORG.csv')['PRACTICE_CODE'].tolist()

In [104]:
created_column_names=[]
for name in column_names:
    created_column_names.append(name+'_Register')
    created_column_names.append(name+'_TotalRegister')

In [106]:
prevalance_df = pd.DataFrame(columns = created_column_names)

In [107]:
for i in range(len(file_path)):
    row_name=sorted(file_path)[i].split('_')[-1].split('.')[0]
    prevalance_df=prevalance_df.append(pd.Series(name=row_name,dtype='float64'))

In [108]:
prevalance_df

,B82007_Register,B82007_TotalRegister,B82020_Register,B82020_TotalRegister,B82028_Register,B82028_TotalRegister,B82053_Register,B82053_TotalRegister,B83002_Register,B83002_TotalRegister,...,G81088_Register,G81088_TotalRegister,G81097_Register,G81097_TotalRegister,G81100_Register,G81100_TotalRegister,G81102_Register,G81102_TotalRegister,G81614_Register,G81614_TotalRegister
1314,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1415,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1516,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1617,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
pre1819=pd.read_csv(part_one[0])

In [48]:
columns_to_select=['PRACTICE_CODE','REGISTER','PATIENT_LIST_SIZE']
pre1819[pre1819['INDICATOR_GROUP_CODE']=='DEM'][columns_to_select]

       PRACTICE_CODE  REGISTER  PATIENT_LIST_SIZE
7             A81001      61.0               4117
28            A81002     220.0              19572
49            A81004      96.0              10806
70            A81005      85.0               8051
91            A81006     192.0              14711
...              ...       ...                ...
144235        Y05733      33.0               6079
144256        Y05750       4.0                136
144277        Y05826       7.0               5650
144298        Y06218      18.0               5726
144319        Y06275      56.0               6289

[6873 rows x 3 columns]

In [109]:
columns_to_select=['PRACTICE_CODE','REGISTER','PATIENT_LIST_SIZE']
for part in part_one:
    row_name=part.split('_')[-1].split('.')[0]
    pre=pd.read_csv(part)
    dem=pre[pre['INDICATOR_GROUP_CODE']=='DEM'][columns_to_select]
    for index,row in dem.iterrows():
        try:
            prevalance_df.at[row_name,row['PRACTICE_CODE']+'_Register']=row['REGISTER']
            prevalance_df.at[row_name,row['PRACTICE_CODE']+'_TotalRegister']=row['PATIENT_LIST_SIZE']
        except KeyError:
            continue

In [110]:
prevalance_df

,B82007_Register,B82007_TotalRegister,B82020_Register,B82020_TotalRegister,B82028_Register,B82028_TotalRegister,B82053_Register,B82053_TotalRegister,B83002_Register,B83002_TotalRegister,...,Y04944_Register,Y04944_TotalRegister,Y04945_Register,Y04945_TotalRegister,Y04979_Register,Y04979_TotalRegister,Y05008_Register,Y05008_TotalRegister,Y05021_Register,Y05021_TotalRegister
1314,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1415,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1516,122,9463,184,12121,157,14097,125,11859,45,4368,...,38.0,1703.0,50.0,3858.0,16.0,2119.0,4.0,2444.0,NaN,2440.0
1617,114,9404,169,12043,159,14112,118,12105,46,4458,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1718,114,9431,171,11984,169,14131,116,12392,54,4653,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1819,123,9581,166,12040,173,14126,123,12657,58,4824,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [111]:
part_two

['./time_series_data/Prevalence/PREVALENCE_1415.csv']

In [112]:
part_two_df=pd.read_csv(part_two[0],encoding = "ISO-8859-1")

/Users/billyzhaoyh/anaconda/envs/aihack/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (5,6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [113]:
part_two_df

,PRACTICE_CODE,PRACTICE_NAME,INDICATOR_GROUP_CODE,INDICATOR_GROUP_DESCRIPTION,PRACTICE_LIST_SIZE,REGISTER_SIZE,PREVALENCE
0,A81001,THE DENSHAM SURGERY,AF,Atrial fibrillation,4182.000000,105,2.510760402
1,A81002,QUEENS PARK MEDICAL CENTRE,AF,Atrial fibrillation,19618.000000,476,2.426343154
2,A81003,THE GALLAGHER PRACTICE,AF,Atrial fibrillation,3469.000000,63,1.816085327
3,A81004,WOODLANDS SURGERY,AF,Atrial fibrillation,9078.000000,167,1.839612249
4,A81005,SPRINGWOOD SURGERY,AF,Atrial fibrillation,7916.000000,194,2.450732693
...,...,...,...,...,...,...,...
163354,Y04809,THE LAKESIDE SURGERY,RA,Rheumatoid arthritis,1673.948672,10,0.59739
163355,Y04882,THE CHAUCERS PRACTICE,RA,Rheumatoid arthritis,2236.356179,30,1.34147
163356,Y04883,LEICESTER ROAD,RA,Rheumatoid arthritis,2095.967755,21,1.00192
163357,Y04884,SATIS HOUSE PRACTICE,RA,Rheumatoid arthritis,3308.517949,20,0.6045
163358,Y04887,WESTFIELD HEALTH CENTRE,RA,Rheumatoid arthritis,1429.662883,27,1.88856

In [140]:
columns_to_select=['PRACTICE_CODE','REGISTER_SIZE','PRACTICE_LIST_SIZE']
for part in part_two:
    row_name=part.split('_')[-1].split('.')[0]
    pre=pd.read_csv(part,encoding = "ISO-8859-1")
    dem=pre[pre['INDICATOR_GROUP_CODE']=='DEM'][columns_to_select]
    for index,row in dem.iterrows():
        try:
            prevalance_df.at[row_name,row['PRACTICE_CODE']+'_Register']=row['REGISTER_SIZE']
            prevalance_df.at[row_name,row['PRACTICE_CODE']+'_TotalRegister']=row['PRACTICE_LIST_SIZE']
        except KeyError:
            continue

In [144]:
part_three_df=pd.read_csv(part_three[0])

In [146]:
part_three_df

,practicecode,indicator_group,Register_description,disease_register_size,practice_listsize,prevalence
0,A81001,THY,Thyroid,170,4178,4.068933
1,A81001,CAN,Cancer,89,4178,2.130206
2,A81001,AST,Asthma,319,4178,7.635232
3,A81001,AF,Atrial Fibrillation,104,4178,2.489229
4,A81001,COPD,Chronic Obstructive Pulmonary Disease,106,4178,2.537099
...,...,...,...,...,...,...
190099,Y04333,HF,Heart Failure due to LVD,19,8046,0.236142
190100,Y04333,DM,Diabetes,257,8046,3.194134
190101,Y04333,EP,Epilepsy,40,8046,0.497141
190102,Y04333,DEM,Dementia,40,8046,0.497141
190103,Y04333,DEP,Depression,269,8046,3.343276

In [149]:
columns_to_select=['practicecode','disease_register_size','practice_listsize']
for part in part_three:
    row_name=part.split('_')[-1].split('.')[0]
    pre=pd.read_csv(part)
    dem=pre[pre['indicator_group']=='DEM'][columns_to_select]
    for index,row in dem.iterrows():
        try:
            prevalance_df.at[row_name,row['practicecode']+'_Register']=row['disease_register_size']
            prevalance_df.at[row_name,row['practicecode']+'_TotalRegister']=row['practice_listsize']
        except KeyError:
            continue

In [150]:
prevalance_df.isnull().sum(axis=1)

1314     160
1415     444
1516     768
1617    1280
1718    1814
1819    2275
dtype: int64

In [151]:
prevalance_df

,B82007_Register,B82007_TotalRegister,B82020_Register,B82020_TotalRegister,B82028_Register,B82028_TotalRegister,B82053_Register,B82053_TotalRegister,B83002_Register,B83002_TotalRegister,...,Y02726_Register,Y02726_TotalRegister,Y02784_Register,Y02784_TotalRegister,Y02850_Register,Y02850_TotalRegister,Y02880_Register,Y02880_TotalRegister,Y02977_Register,Y02977_TotalRegister
1314,113,9363,170,12174,102,14031,95,11626,59,4488,...,5.0,1532.0,3.0,2285.0,14.0,2122.0,9.0,925.0,17.0,5080.0
1415,107,9376,171,12151,154,14141,128,11754,46,4390,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1516,122,9463,184,12121,157,14097,125,11859,45,4368,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1617,114,9404,169,12043,159,14112,118,12105,46,4458,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1718,114,9431,171,11984,169,14131,116,12392,54,4653,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1819,123,9581,166,12040,173,14126,123,12657,58,4824,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [152]:
prevalance_df.to_csv('prevalance_timeseries.csv',index=True)