In [1]:
import glob
import pandas as pd
from tqdm import tqdm

In [2]:
data_path='./time_series_data/Dementia'

In [3]:
file_path=glob.glob(data_path+'/*.csv')

In [4]:
file_path=sorted(file_path)

In [12]:
og_df=pd.read_csv(file_path[0],index_col=0)

In [13]:
for file in file_path[1:]:
    print(file)
    join_ondf=pd.read_csv(file)
    data_join=dict(zip(join_ondf['row_id'].tolist(),join_ondf['quantity'].tolist()))
    #extract date data
    number=file.split('/')[-1].split('.')[0]
    date=number[:4]+'-'+number[4:]+'-01'
    data_join_df=pd.DataFrame.from_dict(data_join,orient='index')
    data_join_df_t=data_join_df.transpose()
    date_series=pd.Series([date])
    data_join_df_t=data_join_df_t.set_index(date_series)
    og_df_test=og_df.append(data_join_df_t,ignore_index=False,verify_integrity=True)
    og_df=og_df_test
og_df_test=og_df_test.sort_index(axis=0)

./time_series_data/Dementia/201705.csv
./time_series_data/Dementia/201805.csv
./time_series_data/Dementia/201806.csv
./time_series_data/Dementia/201807.csv
./time_series_data/Dementia/201808.csv
./time_series_data/Dementia/201810.csv
./time_series_data/Dementia/201811.csv

In [16]:
og_df_test.to_csv('dementia_updated.csv',index=True)

In [49]:
date=number[:4]+'-'+number[4:]+'-01'

In [50]:
date

'2017-05-01'

In [53]:
data_join_df=pd.DataFrame.from_dict(data_join,orient='index')

In [55]:
data_join_df_t=data_join_df.transpose()

In [63]:
date_series=pd.Series([date])
data_join_df_t=data_join_df_t.set_index(date_series)

In [66]:
og_df_test=og_df.append(data_join_df_t,ignore_index=False,verify_integrity=True)

In [67]:
og_df_test.sort_index(axis=0)

,C83037,J83049,B86054,C87024,E83046,M81015,B86038,N81084,K84041,H82035,...,Y04078,Y06524,Y05549,Y03782,Y04405,Y05734,Y03152,Y03707,Y04845,Y05686
2016-07-01,1270,700,1343,452,954,1345,1693,2167,1457,1426,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-08-01,1305,574,1255,499,1208,1064,1691,1656,1910,1642,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-09-01,1429,666,1407,499,1127,1560,1882,2016,1869,1315,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-10-01,1256,935,1202,450,1075,1117,1766,2025,1619,1792,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-11-01,1124,714,1225,520,891,827,2134,2046,1484,1451,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-12-01,1372,884,1879,431,1043,1681,2365,2065,1705,1650,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-01,1025,674,1916,527,1201,1577,1628,1848,1724,1350,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-02-01,1179,623,1599,469,928,1187,2008,1792,1530,1662,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-01,1070,371,1631,597,938,1437,1822,2181,1731,1820,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-04-01,1011,560,1744,420,632,1010,2048,1430,1596,1503,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-05-01,1113,476,1975,630,949,1256,1740,1878,1960,1527,...,NaN,NaN,NaN,NaN,NaN,NaN,56.0,28.0,28.0,28.0
2017-06-01,922,399,1829,490,728,1592,2046,1738,1700,2114,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-07-01,986,707,2010,464,849,1217,1974,1540,1559,1457,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-08-01,923,511,2458,394,1092,1365,1707,2102,1528,1804,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-09-01,971,588,1969,422,630,1677,1736,1680,1701,1534,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-10-01,1118,746,1855,506,679,1370,2209,1988,1617,2141,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-01,982,660,2227,506,742,1322,2002,2094,1892,1795,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-12-01,1081,688,2113,506,847,1416,1502,1876,1824,2024,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-01,978,821,1820,394,623,1711,2090,1878,2029,1770,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-02-01,1103,588,1695,394,532,1224,1649,1542,1596,1660,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-03-01,1222,903,1969,478,875,1724,1901,2298,1574,1910,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-04-01,950,560,1760,539,910,1137,2023,1766,2095,1623,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-09-01,1075,625,1780,366,434,1298,1885,1486,1246,2006,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-12-01,1431,585,1422,471,786,1238,1870,1208,1407,2580,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-01-01,1419,700,2419,413,727,856,1894,1428,1372,2439,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-02-01,1111,495,1784,487,653,1234,1642,1388,1064,2102,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-03-01,1155,756,1604,525,936,1320,1776,1402,1316,2586,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-04-01,1134,649,2289,539,581,798,1916,1220,1085,2141,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-05-01,1468,847,2161,518,623,1554,1813,1598,1372,2410,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-06-01,946,728,1696,469,795,1493,1556,1654,1437,2200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-07-01,1312,672,2106,581,1225,1328,1654,1185,1325,2252,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-08-01,1492,637,1501,546,707,1502,2151,1416,1181,2576,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-09-01,1428,890,1120,511,917,1486,1808,1378,1810,2614,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-10-01,1259,914,1453,812,819,1890,2384,1346,1939,2576,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-11-01,1752,833,1239,602,994,1460,1976,1642,1236,2594,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-12-01,1534,686,1423,630,763,1922,1934,1546,1325,2082,...,14.0,1288.0,28.0,30.0,7.0,56.0,NaN,NaN,NaN,NaN